#clock {
  height: 200px;
  width: 700px;
  background-color: #024546;
  color: white;
  margin: 200px auto;
  font-size: 80px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 100px;
  font-family: 'Alegreya SC', serif; }
